.cont_title { font-weight: 600; text-align: center; letter-spacing: -0.025em; }
.red { color: #f72424 !important; }
.blue { color: #3f68c6 !important; }
.navy { color: #28417c !important; }
.m_bt0 { margin-bottom: 0 !important; }
#map .root_daum_roughmap { width: 100% !important; }

#tech .tech_tab { justify-content: center; }
#tech .tech_tab li .tab_btn { background-color: #fff; color: #777777; display: block; text-align: center; border: 1px solid #e8e8e8; border-radius: 30px; font-weight: 600; }
#tech .tech_tab li .tab_btn.active,
#tech .tech_tab li .tab_btn:hover { background-color: #ff8942; color: #28417c; border: 1px solid #ff8942; }
#tech .tech_txt { font-weight: 700; color: #ff8942; text-align: center; }
#tech .tech_box .tech_wrap * { color: #333333; }
#tech .tech_box .tech_wrap .wrap_title { font-weight: 600; color: #333333; align-items: center; }
#tech .tech_box .tech_wrap .wrap_title::before { background-color: #333333; border-radius: 5px; content: ''; display: inline-block; }
#tech .tech_box .tech_wrap .text_list dd .txt { margin-bottom: 10px; line-height: 1.25; }
#tech .tech_box .tech_wrap .text_list dd .tail_txt { text-indent: 1.5%; }
#tech .tech_box .tech_wrap .text_list2 li { line-height: 1.25; position: relative; }
#tech .tech_box .tech_wrap .img-box { text-align: center; }
#tech .tech_box .tech_wrap .text_list2 li::before { width: 2px; height: 2px; top: 10px; background-color: #333333; display: block; content: ''; position: absolute; left: 0; border-radius: 50%; }


#tech .tech_box .tech_wrap .table { border: 1px solid #cccccc; }
#tech .tech_box .tech_wrap .table th { background-color: #ebedf0; font-weight: 400; text-align: center; }
#tech .tech_box .tech_wrap .table tbody td { text-align: center; padding: 10px; line-height: 1.5; }
#tech .tech_box .tech_wrap .table tbody td img.wp80 { width: 80%; }
#tech .tech_box .tech_wrap .table tbody td img.wp60 { width: 60%; }
#tech .tech_box .tech_wrap .table1 { width: 50%; }
#tech .tech_box .tech_wrap .table1:last-of-type { margin-left: -1px; }
#tech .tech_box .tech_wrap .table1 thead th { vertical-align: middle;}
#tech .tech_box .tech_wrap .table2 th { padding: 13px 0; }
#tech .tech_box .tech_wrap .table2 thead tr th { border-bottom: 1px solid #dddddd; }
#tech .tech_box .tech_wrap .table2 thead tr th:not(:last-of-type),
#tech .tech_box .tech_wrap .table2 tbody tr td:not(:last-of-type) { border-right: 1px solid #dddddd; }
#tech .tech_box .tech_wrap .table2 tbody tr th { border-right: 1px solid #dddddd; line-height: 1.5; }
#tech .tech_box .tech_wrap .table2 tbody tr:not(:last-of-type) { border-bottom: 1px solid #dddddd; }
#tech .tech_box .tech_wrap .img_list { flex-wrap: wrap; }
#tech .tech_box .tech_wrap .img_list1 li .img_box { margin-bottom: 10px; }
#tech .tech_box .tech_wrap .img_list1 li .img_box img { width: 100%; }
#tech .tech_box .tech_wrap .img_list1 li .num { width: 20px; height: 20px; line-height: 19px; margin-right: 10px; background-color: #27417c; color: #fff; border-radius: 50%; display: inline-block; text-align: center; }
#tech .tech_box .tech_wrap .bt_txt { line-height: 1.25; color: #ff8942; font-weight: 700; }
#tech .tech_box .tech_wrap .img_box2 .img_list3 { flex-wrap: wrap; }
#tech .tech_box .tech_wrap .img_box2 .img_list3 li { width: 48%; margin-bottom: 20px; }
.img_box3 { margin-top: 50px; justify-content: center; flex-wrap: wrap; }
.img_box3 .img_title { width: 100%; text-align: center; margin-top: 10px; }
#tech .tech_box .tech_wrap .img_box2 .img_list3 li:not(:nth-child(2n)) { margin-right: 4%; }
#tech .tech_box .tech_wrap .table2 .text_list2 { text-align: left; }
#tech .tech_box .tech_wrap .img_list_2 { flex-wrap: wrap; margin: 0 auto; }
#tech .tech_box .tech_wrap .img_list_2 li .img_box { margin-bottom: 10px; }
#tech .tech_box .tech_wrap .img-box2 > .flex > img { width: 40%; }
#tech .tech_box .tech_wrap .img-box2 > .flex > img:first-child { margin-right: 8%; }
#tech .tech_box .tech_wrap .wrap_title2 { margin-bottom: 20px; font-weight: 500; }
#tech .tech_box .tech_wrap .wrap_txt2 { margin-bottom: 25px; line-height: 1.25; }
#tech .tech_box .tech_wrap .nwa_img_box { margin-bottom: 60px; }
#tech .tech_box .tech_wrap .nwa_table td { padding: 20px; border: 1px solid #dddddd; text-align: center; vertical-align: middle; }

#tech .tech_box .tech_wrap .prf_img_list { flex-wrap: wrap; }
#tech .tech_box .tech_wrap .prf_img_list li { width: 49%; border: 1px solid #cccccc; }
#tech .tech_box .tech_wrap .prf_img_list li:not(:nth-child(2n)) { margin-right: 2%; }
#tech .tech_box .tech_wrap .prf_img_list li img { width: 100%; }
#tech .tech_box .tech_wrap .prf_img_list li .title { padding: 13px 0; text-align: center; background-color: #ebedf0; }
#tech .tech_box .tech_wrap .prf_list { border: 1px solid #ccc; }
#tech .tech_box .tech_wrap .prf_list thead th { padding: 13px; background-color: #ebedf0; white-space: nowrap; }
#tech .tech_box .tech_wrap .prf_list thead th,
#tech .tech_box .tech_wrap .prf_list tbody td { text-align: center; border: 1px solid #dddddd; border-bottom: 0; border-top: 0;  }
#tech .tech_box .tech_wrap .prf_list tbody tr:nth-child(2n) { background-color: #fbfbfb; }
#tech .tech_box .tech_wrap .order_list li { width: 50%; position: relative; }
#tech .tech_box .tech_wrap .order_list li:not(:nth-of-type(odd)) { padding-left: 40px; text-align: right; }
#tech .tech_box .tech_wrap .order_list li:not(:nth-of-type(even)) { padding-right: 40px; text-align: left; }
#tech .tech_box .tech_wrap .order_list li:not(:nth-child(3), :nth-child(4)) { padding-bottom: 40px; }
#tech .tech_box .tech_wrap .order_list li:not(:nth-child(1), :nth-child(2)) { padding-top: 40px; }
#tech .tech_box .tech_wrap .order_list li .imgBox { margin-bottom: 25px; position: relative; }
#tech .tech_box .tech_wrap .order_list li .arrowBox { position: absolute; }
#tech .tech_box .tech_wrap .order_list li .arrowBox i { font-weight: medium; color: #ff8942 }
#tech .tech_box .tech_wrap .order_list li:first-child .arrowBox { top: 50%; right: -52px; transform: translateY(-50%); }
#tech .tech_box .tech_wrap .order_list li:nth-child(2) .arrowBox { bottom: -13.5px; left: 51%; transform: rotate(90deg); }
#tech .tech_box .tech_wrap .order_list li:nth-child(3) .arrowBox { top: 50%; right: -52px; transform: translateY(-50%) rotate(180deg); }
/* #tech .tech_box .tech_wrap .gridBox img { height: 100%; } */
#tech .tech_box .tech_wrap .gridBox .leftBox { width: 34%; text-align: center; margin-right: 1.5%; }
#tech .tech_box .tech_wrap .gridBox .leftBox img { width: 100%; }
#tech .tech_box .tech_wrap .gridBox .centerBox { width: 34%; text-align: center; margin-right: 1.5%; }
#tech .tech_box .tech_wrap .gridBox .centerBox img { width: 100%; }
#tech .tech_box .tech_wrap .gridBox .rightBox { width: 29%; text-align: center; }
#tech .tech_box .tech_wrap .gridBox .rightBox .top { margin-bottom: 20px; }

#tech .rf_wrap { flex-wrap: wrap; }
.img_sub_box .img_title { text-align: center; }
.img_sub_box .img_list_2 li .box { width: 49%; }
.img_sub_box .img_list_2 li .box:first-of-type img { height: 100%; }
.img_sub_box .img_list_2 li .box:not(:last-of-type){ margin-right: 2%; }
.img_sub_box .img_list_2 li .box:last-of-type img:first-of-type { margin-bottom: 4%; }


.sub_sTit {

    font-weight: 700;
    color: #000;
    position: relative;
}

.sub_sTit::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 35px;
    margin-right: 15px;
    background-color: #ff8942;
}

#over_section .sub_tit{
    padding-bottom: 175px;
}

.over_sec1{
    background: url(/images/cont/over_bgImg.jpg)no-repeat center bottom;
    padding-bottom: 25px;

}

.over_sec1 .cont_box{
    width: 58%;
    padding-top: 30px;
    position: relative;
}

.over_sec1 .ceo_box{
    position: absolute;
    bottom: -60px;
    right: 0;
    z-index: 10;
}

.over_sec1 .ceo_box .ceo_name{
    font-size: 22px;
    color: #000;
}

.over_sec1 .ceo_box .inqur{
    font-family: 'InkLipquid', sans-serif;
    font-size: 56px;
    color: #000;
}

#over_section .sub_titBox{
    padding-bottom: 40px;
}

#over_section .sub_txtBox .stxt{
    line-height: 36px;
    padding-bottom: 30px;
}

#over_section .sub_txtBox .stxt:last-child{
    padding-bottom: 55px;
}




/*** Mobile ***/
@media screen and (min-width:1px) and (max-width:500px) {
    #tech .tech_box .tech_wrap .order_list li:first-child .arrowBox { right: -28px !important; }
    #tech .tech_box .tech_wrap .order_list li:nth-child(3) .arrowBox { right: -28px !important; }

}

@media screen and (min-width:1px) and (max-width:768px) {
    #Cont { padding: 50px 0; }
    .cont_title { margin-bottom: 25px; }

    #map .cont_title { margin-bottom: 30px; }
    #map .root_daum_roughmap { margin-bottom: 20px; height: 250px; }
    #map .map_list li:not(:last-of-type) { margin-bottom: 13px; }
    #map .map_list li p { line-height: 1.25; }
    #map .map_list li .img_box { width: 13px; margin-right: 5px; }
    #map .map_list li .img_box img { vertical-align: initial; }

    #tech .tech_tab { margin-bottom: 35px; }
    #tech .tech_tab li:not(:last-of-type) { margin-right: 8px; }
    #tech .tech_tab li .tab_btn { width: 100px; padding: 8px 0; }
    #tech .tech_txt { font-size: 16px; margin-bottom: 30px; line-height: 1.25; }
    #tech .tech_box .tech_wrap:not(:last-of-type) { margin-bottom: 50px; }
    #tech .tech_box .tech_wrap .wrap_title { margin-bottom: 15px; }
    #tech .tech_box .tech_wrap .wrap_title::before { width: 13px; height: 13px; margin-right: 6px; border-radius: 3px; }
    #tech .tech_box .tech_wrap .text_list { padding: 0 10px; }
    #tech .tech_box .tech_wrap .text_list:not(:last-of-type) { margin-bottom: 25px; }
    #tech .tech_box .tech_wrap .text_list dt { margin-bottom: 15px; }
    #tech .tech_box .tech_wrap .text_list dd:not(:last-of-type) { margin-bottom: 15px; }
    #tech .tech_box .tech_wrap .table_box { display: block; }
    #tech .tech_box .tech_wrap .table_box table { width: 100%; }
    #tech .tech_box .tech_wrap .table.table_margin { margin-top: 20px; }
    #tech .tech_box .tech_wrap .table1 thead th { height: 40px; }
    #tech .tech_box .tech_wrap .table2 tbody tr th { padding-right: 5px; padding-left: 5px; }
    #tech .tech_box .tech_wrap .img_list1 li { width: 49%; margin-bottom: 10px; }
    #tech .tech_box .tech_wrap .img_list1 li:not(:nth-child(2n)) { margin-right: 2%; }
    #tech .tech_box .tech_wrap .bt_txt { margin-top: 10px; }
    #tech .tech_box .tech_wrap .img_list2 li:first-of-type { margin-bottom: 10px; }
    #tech .tech_box .tech_wrap .img_list2 li { width: 49%; }
    #tech .tech_box .tech_wrap .img_list2 li:not(:nth-child(2n)) { margin-right: 2%; }
    #tech .tech_box .tech_wrap .text_list2 li:not(:last-of-type) { margin-bottom: 10px; }
    #tech .tech_box .tech_wrap .img_box2 { display: block; }
    #tech .tech_box .tech_wrap .img_box2 { margin-top: 15px; }
    #tech .tech_box .tech_wrap .img_box2 .img_list3 img { width: 100%; }
    #tech .tech_box .tech_wrap .img_box2 > div img { width: 100%; }
    #tech .tech_box .tech_wrap.tech_table_wrap table:not(:last-of-type) { margin-bottom: 30px; }
    #tech .tech_box .tech_wrap .img_box3 .img_w { width: 48%; }
    #tech .tech_box .tech_wrap .img_box3 .img_w:not(.img_list3) { margin-right: 4%; }
    #tech .tech_box .tech_wrap .img_box3 .img_list3 li:first-of-type { margin-bottom: 10px; }
    #tech .tech_box .tech_wrap .table2.img_table2 tbody td img:first-of-type { margin-bottom: 15px; }
    #tech .tech_box .img_box3 img:first-of-type { margin-right: 15px; }
    #tech .tech_box .tech_wrap .img-box2 { margin-top: 15px; }
    #tech .tech_box .var_box { margin-bottom: 50px; display: block; }
    #tech .tech_box .var_box .var_txt_box { margin-bottom: 50px; }

    #tech .tech_box .tech_wrap .img_list_2 li { margin-bottom: 15px; }
    #tech .tech_box .tech_wrap .img_list_2 li { width: 48%; }
    #tech .tech_box .tech_wrap .img_list_2 li:not(:nth-child(2n)) { margin-right: 4%; }

    #tech .tech_box .tech_wrap .text_list2 li { padding-left: 7px; }
    #tech .tech_box .tech_wrap .text_list2 li::before { top: 6px; }

    #tech .tech_box .tech_wrap .prf_img_list li { margin-bottom: 10px; }
    #tech .tech_box .tech_wrap .prf_list tbody td { padding: 10px; }

    #tech .tech_box .tech_wrap .order_list li:not(:nth-of-type(odd)) { padding-left: 20px; }
    #tech .tech_box .tech_wrap .order_list li:not(:nth-of-type(even)) { padding-right: 20px; }
    #tech .tech_box .tech_wrap .order_list li:not(:nth-child(3), :nth-child(4)) { padding-bottom: 20px; }
    #tech .tech_box .tech_wrap .order_list li:not(:nth-child(1), :nth-child(2)) { padding-top: 20px; }
    #tech .tech_box .tech_wrap .order_list li .imgBox { margin-bottom: 15px; }
    #tech .tech_box .tech_wrap .order_list li:first-child .arrowBox { right: -33px; }
    #tech .tech_box .tech_wrap .order_list li:nth-child(2) .arrowBox { bottom: -13.5px; left: 51%; }
    #tech .tech_box .tech_wrap .order_list li:nth-child(3) .arrowBox { right: -33px; }

    #tech .tech_box .tech_wrap .gridBox { flex-wrap: wrap; }
    #tech .tech_box .tech_wrap .gridBox .leftBox { width: 48.5%; text-align: center; margin-right: 3%; margin-bottom: 1.5%; }
    #tech .tech_box .tech_wrap .gridBox .centerBox { width: 48.5%; text-align: center; margin-right: 0; margin-bottom: 1.5%; }
    #tech .tech_box .tech_wrap .gridBox .rightBox { width: 100%; display: flex; }
    #tech .tech_box .tech_wrap .gridBox .rightBox .top { margin-bottom: 0px; width: 48.5%; margin-right: 3%; }
    #tech .tech_box .tech_wrap .gridBox .rightBox .bottom { width: 48.5%; }

    #tech .rf_wrap dl { width: 100%; }
    .img_sub_box { margin-top: 30px; }


    #tech .tech_box .tech_wrap .nwa_img_box .img_list_2 { display: block; }
    #tech .tech_box .tech_wrap .nwa_img_box .img_list_2 li { width: 100%; margin-right: 0; }
    #tech .tech_box .tech_wrap .nwa_img_box .img_list_2 li:not(:last-child) { margin-bottom: 1.5%; }
}

/*** Mobile & Tablet ***/
@media screen and (min-width:1px) and (max-width:1319px) {

}

/*** Tablet ***/
@media screen and (min-width:769px) and (max-width:1319px) {
    #Cont { padding: 80px 0; }
    .cont_title { margin-bottom: 30px; }

    #map .cont_title { margin-bottom: 40px; }
    #map .root_daum_roughmap { margin-bottom: 25px; height: 300px; }
    #map .map_list li:not(:last-of-type) { margin-bottom: 16px; }

    #tech .tech_tab { margin-bottom: 40px; }
    #tech .tech_tab li:not(:last-of-type) { margin-right: 10px; }
    #tech .tech_tab li .tab_btn { width: 120px; padding: 10px 0; }
    #tech .tech_txt { margin-bottom: 35px; }
    #tech .tech_box .tech_wrap:not(:last-of-type) { margin-bottom: 60px; }
    #tech .tech_box .tech_wrap .wrap_title { margin-bottom: 20px; }
    #tech .tech_box .tech_wrap .wrap_title::before { width: 15px; height: 15px; margin-right: 9px; }
    #tech .tech_box .tech_wrap .text_list:not(:last-of-type) { margin-bottom: 35px; }
    #tech .tech_box .tech_wrap .text_list dd:not(:last-of-type) { margin-bottom: 20px; }
    #tech .tech_box .tech_wrap .text_list2 li::before { top: 7px; }
    #tech .tech_box .tech_wrap .table.table_margin { margin-top: 25px; }
    #tech .tech_box .tech_wrap .table1 thead th { height: 50px; }
    #tech .tech_box .tech_wrap .img_list1 li { margin-bottom: 20px; }
    #tech .tech_box .tech_wrap .bt_txt { margin-top: 15px; }
    #tech .tech_box .tech_wrap .img_box2 { margin-top: 20px; }
    #tech .tech_box .tech_wrap .img_box2 .img_list3 { margin-right: 20px; }
    #tech .tech_box .tech_wrap.tech_table_wrap table:not(:last-of-type) { margin-bottom: 40px; }
    #tech .tech_box .tech_wrap .table2.img_table2 tbody td img { width: 48%; }
    #tech .tech_box .tech_wrap .table2.img_table tbody td img:first-of-type { margin-right: 20px; }
    #tech .tech_box .img_box3 img:first-of-type { margin-right: 20px; }
    #tech .tech_box .var_box { margin-bottom: 60px; }
    #tech .tech_box .var_box .var_txt_box { margin-right: 80px; }
    #tech .tech_box .tech_wrap .img_list_2 li { margin-bottom: 20px; }
    .img_sub_box { margin-top: 50px; }
}

/*** Tablet & Desktop ***/
@media screen and (min-width:769px) {
    #map .map_list li .img_box { width: 17px; margin-right: 10px; }
    #tech .tech_box .tech_wrap .wrap { padding-left: 20px; }
    #tech .tech_box .tech_wrap .text_list dt { margin-bottom: 20px; }
    #tech .tech_box .tech_wrap .img_list1 li { width: 32%; }
    #tech .tech_box .tech_wrap .img_list1 li:not(:nth-child(3n)) { margin-right: 2%; }
    #tech .tech_box .tech_wrap .img_list2 li:first-of-type { margin-bottom: 20px; }
    #tech .tech_box .tech_wrap .img_list2 li { width: 49%; }
    #tech .tech_box .tech_wrap .img_list2 li:not(:nth-child(2n)) { margin-right: 1.5%; }
    #tech .tech_box .tech_wrap .text_list2 li:not(:last-of-type) { margin-bottom: 20px; }
    #tech .tech_box .tech_wrap .img_box2 .img_1 { width: 66%; }
    #tech .tech_box .tech_wrap .img_box2 > div { width: 32%; }
    #tech .tech_box .tech_wrap .img_box3 .img_list3 li:first-of-type { margin-bottom: 20px; }

    #tech .tech_box .tech_wrap .img-box2 { margin-top: 30px; }
    #tech .tech_box .var_box .var_txt_box { width: 54%; }
    #tech .tech_box .tech_wrap .img_list_2 li { width: 49.25%; }
    #tech .tech_box .tech_wrap .img_list_2 li:not(:nth-child(2n)) { margin-right: 1.5%; }
    #tech .tech_box .tech_wrap .text_list2 li { padding-left: 10px; }

    #tech .tech_box .tech_wrap .prf_img_list li { margin-bottom: 20px; }
    #tech .tech_box .tech_wrap .prf_list tbody td { padding: 18px; }

    #tech .tech_box .var_box > .var_txt_box { width: 70%; }
    #tech .tech_box .var_box > .img-box { width: 30%; }

    #tech .rf_wrap dl { width: 50%; }

}

/*** Desktop ***/
@media screen and (min-width:1320px) {
    #Cont { padding: 100px 0; }
    .cont_title { margin-bottom: 40px; }

    #map .cont_title { margin-bottom: 60px; }
    #map .root_daum_roughmap { margin-bottom: 30px; }
    #map .map_list li:not(:last-of-type) { margin-bottom: 25px; }

    #tech .tech_tab { margin-bottom: 60px; }
    #tech .tech_tab li:not(:last-of-type) { margin-right: 15px; }
    #tech .tech_tab li .tab_btn { width: 150px; padding: 13px 0; }
    #tech .tech_txt { margin-bottom: 50px; }
    #tech .tech_box .tech_wrap:not(:last-of-type) { margin-bottom: 80px; }
    #tech .tech_box .tech_wrap .wrap_title { margin-bottom: 30px; }
    #tech .tech_box .tech_wrap .wrap_title::before { width: 17px; height: 17px; margin-right: 9px; }
    #tech .tech_box .tech_wrap .text_list:not(:last-of-type) { margin-bottom: 50px; }
    #tech .tech_box .tech_wrap .text_list dd:not(:last-of-type) { margin-bottom: 25px; }
    #tech .tech_box .tech_wrap .table.table_margin { margin-top: 30px; }
    #tech .tech_box .tech_wrap .table1 thead th { height: 60px; }
    #tech .tech_box .tech_wrap .img_list1 li { margin-bottom: 30px; }
    #tech .tech_box .tech_wrap .bt_txt { margin-top: 20px; }
    #tech .tech_box .tech_wrap .text_list2 li:not(:last-of-type) { margin-bottom: 17px; }
    #tech .tech_box .tech_wrap .text_list2 li::before { top: 10px; }
    #tech .tech_box .tech_wrap .img_box2 { margin-top: 30px; }
    #tech .tech_box .tech_wrap .img_box2 > div img { width: 100%; }
    #tech .tech_box .tech_wrap .img_box2 .img_list3 { margin-right: 30px; }
    #tech .tech_box .tech_wrap .img_box2 .img_list3 li:not(:nth-child(2n)) { margin-right: 30px; }
    #tech .tech_box .tech_wrap .table2.img_table tbody td img:first-of-type { margin-right: 30px; }
    #tech .tech_box .img_box3 img:first-of-type { margin-right: 30px; }
    #tech .tech_box .img_box3 img { width: 100%; }
    #tech .tech_box .tech_wrap.tech_table_wrap table:not(:last-of-type) { margin-bottom: 60px; }
    #tech .tech_box .var_box { margin-bottom: 80px; }
    #tech .tech_box .var_box .var_txt_box { margin-right: 110px; }
    #tech .tech_box .tech_wrap .img_list_2 li img { width: 100%; }
    #tech .tech_box .tech_wrap .img_list_2 li { margin-bottom: 30px; }

    .img_w2 { width: 350px; }
    .img_sub_box { margin-top: 70px; }

}







@media screen and (max-width: 1000px){
    /* aboutUs - overview */
    .over_sec1 .cont_box{
        width: 65%;
    }

    .over_sec3 .over_sec3_ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    .over_sec3 .over_li{
        width: 70%;
        margin-right: 0;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 768px){

    /* aboutUs - overview */
    #over_section{
        padding-bottom: 110px;
    }
    .sub_txtBox {
        background-color: #f7f7f7;
        padding: 20px;
    }
    .over_sec1{
        background: none;
        padding-bottom: 0;
    }

    .over_sec1 .cont_box{
        width: 100%;
    }

    .over_sec1 .ceo_box{
        bottom: -80px;
    }

    .over1_img{
        text-align: center;
        margin-bottom: 135px;
    }
}

@media screen and (max-width: 500px) {
    .sub_sTit::before {
        width: 2px;
        height: 25px;
        margin-right: 10px;
    }
    /* aboutUs - overview */
    #over_section{
        padding-bottom: 55px;
    }

    #over_section .sub_tit{
        padding-bottom: 87.5px;
    }

    .over_sec1{
        background-size: 97% 45%;
    }

    .over_sec1 .cont_box{
        padding-top: 0;
    }

    #over_section .sub_titBox{
        padding-bottom: 30px;
    }

    #over_section .sub_txtBox .stxt{
        line-height: 24px;
        padding-bottom: 25px;
    }

    #over_section .sub_txtBox .stxt:last-child{
        padding-bottom: 15px;
    }

    .over_sec1 .ceo_box{
        bottom: -50px;
    }

    .over_sec1 .ceo_box .ceo_name{
        font-size: 16px;
    }

    .over_sec1 .ceo_box .inqur{
        font-size: 36px;
    }

    .over1_img{
        margin-bottom: 67.5px;
    }

}